* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.main__info {
  background-image: url("../public/bg-phone-lg.png");
  background-repeat: no-repeat;
  height: 492px;
  width: 427px;
}
.main__info:nth-child(2) {
  background-image: url("../public/bg-phone-md.png");
}
.info__section:nth-child(2n) {
  flex-direction: row-reverse;
  padding-top: 120px;
}
.form__section {
  background-image: url("../public/form-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 71px;
}
